{% embed 'links.html' %} {% endembed %}
{% embed 'sidebar.html' %} {% endembed %}

  {% if flash %}
    {{ dump(flash) }}
  {% endif %}

  <div class="col-12">
  <form action="" method="post">
  	<div class="mdl-grid socialapp-content mb4">
  		<div class="socialapp-cards mdl-cell mdl-cell--12-col  mdl-grid mdl-grid--no-spacing mb4">
  			<div class="socialapp-card-wide mdl-card mdl-shadow--2dp mx-auto mt4 p2" style="max-width: 300px;">
          
          <div class="mdl-card__supporting-text" style="width:100%">
            <header class="socialapp-drawer-header">
              <img src="images/socialapp-80.png" class="socialapp-avatar">
              <div class="socialapp-avatar-dropdown">
                <div class="mdl-layout-spacer"></div>
                <h4 class="modal-title" id="myModalLabel">Admin Area</h4>            
              </div>
          </header>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input type="text" name="username" class="mdl-textfield__input validation" id="log-username" autocomplete="off" value="{{user.username}}">
                        <label class="mdl-textfield__label" for="log-username">Username</label>
                      </div>
                    {% if Errors %}
                      {% for error in Errors %}
                            {% if error.field == 'username' %}
                            <li> 
                             <a href=""><label class="error mdl-color-text--red" id="error-username_field">{{ error.message }}</label></a>
                            </li>
                            {% endif %}
                      {% endfor %}
                    {% endif %}
                    <br>
                       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                        <input type="password" name="oldpassword" class="mdl-textfield__input validation" id="oldpassword" autocomplete="off" >
                       
                        <label class="mdl-textfield__label" for="oldpassword">Old Password</label>
                      </div>
                    {% if Errors %}
                      {% for error in Errors %}
                            {% if error.field == 'oldpassword' %}
                            <li> 
                             <a href=""><label class="error mdl-color-text--red" id="error-username_field">{{ error.message }}</label></a>
                            </li>
                            {% endif %}
                      {% endfor %}
                    {% endif %}
                      <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                        <input type="password" name="newpassword" class="mdl-textfield__input validation" id="newpassword" autocomplete="off" >
                       
                        <label class="mdl-textfield__label" for="newpassword">New Password</label>
                      </div>
                    {% if Errors %}
                      {% for error in Errors %}
                            {% if error.field == 'newpassword' %}
                            <li> 
                             <a href=""><label class="error mdl-color-text--red" id="error-username_field">{{ error.message }}</label></a>
                            </li>
                            {% endif %}
                      {% endfor %}
                    {% endif %}
                      <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                        <input type="password" name="newpasswordagain" class="mdl-textfield__input validation" id="newpasswordagain" autocomplete="off" >
                       
                        <label class="mdl-textfield__label" for="newpasswordagain">New Password Again</label>
                      </div>
                    {% if Errors %}
                      {% for error in Errors %}
                            {% if error.field == 'newpasswordagain' %}
                            <li> 
                             <a href=""><label class="error mdl-color-text--red" id="error-username_field">{{ error.message }}</label></a>
                            </li>
                            {% endif %}
                      {% endfor %}
                    {% endif %}
                      <br>
                      <div class="mdl-layout-spacer"></div> 
                     
                      <div class="mdl-layout-spacer"></div> 
                    

                <div class="clearfix"></div>
               
              
              <input type="hidden" name="token" class="form-control" id="token" value="{{token}}" >
                

                    <!-- <span class="right pr2 pl2 pt1">/</span>
                                    <a href="{{paths.base_path}}/register.php" class="mdl-button mdl-js-button right pr2">Register</a>  -->

          </div>
          <div class="mdl-card__actions ">
            <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Get Started
            </a> -->
            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn-block right" id="login-btn" value="Change">
          </div>
          {% if Errors %}
          {% for error in Errors %}
                {% if error.field == 'token' %}
                <div class="mdl-card__actions mdl-card--border center">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red" href="./settings.php">
                    {{error.message}}
                  </a> 
                </div>
                {% endif %}
          {% endfor %}
        {% endif %}
        </div>
  		</div>
  	</div>
  </form>
  </div>
{% embed 'footer.html' %} {% endembed %}
